.o_bom_compare_report_page {
    background-color: $o-view-background-color;
    margin: 16px auto;
    padding: 24px 16px;
    // Manage expand icon
    table.o_bom_compare_expandable {
        thead tr {
            border-width: 2px;
            border-top-style: groove;
            border-bottom-style: groove;
        }
        tbody tr {
            border-width: 1px;
            border-top-style: solid;
            border-bottom-style: groove;
        }
        tbody, tfoot {
            & > tr > td ~ td > span {
                margin-left: 10px;
            }
            tr {
                .o_mrp_bom_no_fold {
                    margin-left: 18px;
                }
                .o_mrp_bom_unfoldable, .o_mrp_bom_foldable {
                    margin-left: -2px;
                }
            }
        }
    }
}

.o_bom_compare_report_buttons {
    @include media-breakpoint-down(sm) {
        display: grid;
        grid-gap: 4px; // For compatibility
        gap: 4px;
    }
}

.o_bom_compare_wrap{
    display: flex;
    justify-content: flex-end;
}

.o_head_div_wrap{
    display: flex;
    justify-content: space-between;
}

.o_bom_compare_bom_div{
    width:140px;
 }

.o_bom_compare_inner_div{
    width:130px;
    word-wrap:break-word;
 }

.o_bom_compare_head_th{
 width:160px;
}
