.o_view_nocontent {
    &_workorder:before {
        @extend %o-nocontent-init-image;
        width: 100%;
        height: 300px;
        max-width: 680px;
        background: transparent url(/mrp_workorder/static/img/workorder.png) no-repeat center;
        background-size: contain;
    }
}
